

<div class="container">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRAkdqTCru5stUR5DC_hS4q0-UcW3xpzZ-Xg5rSuVsk4fPWHbX2Q&s" class="img-thumbnail">
    <div class="card-body">
      <h5 class="card-title">My name is <%= @user.fullname %></h5>
      <p class="card-text">About me :<br><%= @user.bio %></p>
      <p class="card-text">I'm <%= @user.age %> years old and i'm enjoying my life!</p>
      <%= link_to 'Edit Profile' ,edit_user_path(@user) %><br>
      <%= link_to 'New Post', new_post_path %><br><br>

      </div>
</div>

<div class="container">
<% @a = @user.posts.order(id: :desc)%>
<% @a.each do |post| %>
<p><%= post.comments.count %> Comments</p>

  <%= post.content %><br>

  <p><%= post.likes.count %><%= (post.likes.count) == 1 ? ' Like' : ' Likes' %></p>
    <% before_like = post.likes.find { |like| like.user_id == current_user.id} %>
        <% if before_like %>
            <%= button_to 'Unlike', post_like_path(post, before_like), method: :delete,class:"btn btn-success"%>
        <% else %>
            <%= button_to 'Like', post_likes_path(post), method: :post,class:"btn btn-success" %>
        <% end %>

  <div class="btn-group" role="toolbar" aria-label="Basic example">
    <%= button_to 'Add comment', post_path(post), method: :get, class:"btn btn-primary btn-sm"%>
    <% if current_user && post.user == current_user %>

    <%= button_to 'Edit Post', edit_post_path(post), method: :get, class:"btn btn-primary btn-sm" %>
    <%= button_to 'Delete Post', post_path(post), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-primary btn-sm" %>
    <% end %>

  <p><%= post.comments.count %><%= link_to ' Comments', post_path(post), method: :get %></p>
  <br><br>
<% end %>
    <%= render 'formsearch' %>
</div>
</div>

    