
<div>
    <h2><%= @post.user.fullname%></h2>
    <p><%= @post.content %><p><br>
    <% if current_user && @post.user == current_user %>
            <%= link_to "Edit post", edit_post_path(@post) %>
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure ?"} %>
            <% end %>
    <p><%= @post.likes.count %><%= (@post.likes.count) == 1 ? ' Like' : ' Likes' %></p>
    <% before_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <% if before_like %>
            <%= button_to 'Unlike', post_like_path(@post, before_like), method: :delete %>
        <% else %>
            <%= button_to 'Like', post_likes_path(@post), method: :post %>
        <% end %>

</div>

<h2><%= @post.comments.count %> Comments</h2><br>
   
   
    <% @post.comments.each do |comment|%>
        <h4><%= comment.user.username %></h4>
        <%= comment.content %><br>
        <p><%= time_ago_in_words(comment.created_at) %> ago</p>
        <% if current_user && comment.user == current_user %>
            <p><%= link_to 'Edit comment', edit_post_comment_path(comment.post, comment) %></p>
            <p><%= button_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %></p>
        <% end %>
    <% end %>

    <%= render 'comments/form' %><br>
            


    