<!DOCTYPE html>
<html>
  <head>
    <title>Society</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
        <% end %>
      
        <% if current_user %>
          <h2>Hi, <%= current_user.username %>!</h2>
          <%= link_to "Logout", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_session_path %>
        <% end %>
        
      <nav class="navbar navbar-dark bg-primary">

      </nav>
     
    <%= yield %>

  </body>
</html>
